.comments__content-subtitle {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    padding: 0;
    margin: 48px auto 72px;
    max-width: 640px;
}